.section_top {
  margin: 240px 0px 180px;
  text-align: center;
}

.section_top_bold {
  font-size: 54px;
  font-family: gilroy-bold;
  margin-bottom: 40px;
  opacity: 0.8;
}

.section_top_button {
  display: inline-block;
  font-family: gilroy-bold;
  background: black;
  padding: 15px 50px 20px;
  color: #f8f8f8;
  border-radius: 15px;
  font-size: 18px;
}

.section_top_button img {
  width: 12px;
  position: relative;
  top: 6px;
  left: 6px;
}

.images_div {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.images_div img {
  margin-bottom: 20px;
  border-radius: 20px;
}

.section_whycred {
  margin-top: 120px;
  background: #3a44a1;
  padding: 120px 0px 60px;
  text-align: center;
  color: #f8f8f8;
}

.whycred_container {
  width: 35%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whycred_head {
  font-size: 48px;
  font-family: gilroy-bold;
}

.whycred_text {
  font-size: 24px;
  line-height: 32px;
  font-family: gilroy-regular;
  margin-top: 30px;
  margin-bottom: 100px;
}

.whycred_circle {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 25px;
  font-size: 24px;
  line-height: 50px;
}

.section_workcred {
  width: 60%;
  margin: 0px auto;
}

.workcred_div1 {
  margin: 120px 0px;
  display: flex;
  justify-content: center;
}

.workcred_div1_head {
  font-family: gilroy-bold;
  color: #3a44a1;
  font-size: 42px;
  line-height: 1.2;
  width: 50%;
}

.workcred_div1_text {
  color: black;
  opacity: 0.6;
  font-size: 20px;
  line-height: 1.8;
  width: 50%;
}

.workcred_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 80px;
  margin-bottom: 120px;
}

.workcred_grid > div {
  display: flex;
}

.workcred_grid > div > img {
  width: 64px;
  height: 64px;
}

.workcred_grid > div > div {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.workcred_grid > div > div > div:nth-child(1) {
  font-family: gilroy-bold;
  margin-bottom: 20px;
  font-size: 21px;
  letter-spacing: 1px;
  opacity: 0.8;
}

.workcred_grid > div > div > div:nth-child(2) {
  font-size: 14px;
  line-height: 1.8;
}

.section_video {
  width: 60%;
  margin: 0px auto 120px;
}

.video_head {
  margin: 120px 0px;
  font-family: gilroy-bold;
  color: #3a44a1;
  font-size: 42px;
  line-height: 1.2;
}

.video {
  border-radius: 24px;
  margin: 0px auto;
}
