@font-face {
  font-family: "gilroy-blackitalic";
  src: url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-BlackItalic.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-BlackItalic.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-extrabold";
  src: url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-ExtraBold.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-ExtraBold.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-bold";
  src: url("../public/assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-semibold";
  src: url("../public/assets/fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-medium";
  src: url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-Medium.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-Medium.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-regular";
  src: url("../public/assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gilroy-thin";
  src: url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-Thin.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/Gilroy-Thin.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cirka-light";
  src: url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Light.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Light.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cirka-regular";
  src: url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Regular.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cirka-medium";
  src: url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Medium.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Medium.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cirka-semibold";
  src: url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Semibold.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Semibold.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cirka-bold";
  src: url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Bold.woff")
      format("woff"),
    url("https://web-assets.cred.club/_next/assets/fonts/PPCirka-Bold.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: gilroy-regular;
}

.bg-black {
  background: rgb(15, 15, 15);
}

.container {
  padding: 60px 200px 200px;
  color: rgb(248, 248, 248);
}

a {
  text-decoration: none;
}
